modules/poi/src/main/resources/org/poi/spring.config/poi.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mitix.com/schema/poi"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.mitix.com/schema/poi"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="annotation-driven">
    </xsd:element>
    <xsd:complexType name="field">
        <xsd:attribute name="name"></xsd:attribute>
        <xsd:attribute name="title"></xsd:attribute>
    </xsd:complexType>

</xsd:schema>